* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F7FA;
}

header {
    background-color: white;
}

footer {
    background-color: #34495E;
}

main section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
}

p, button, li {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    text-align: center;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#home_section {
    padding-top: 3rem;
}

.espacio_lateral {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
}

.espacio_lateral_idea{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: center;
}

.logo-img {
    width: 120px;
}

.home-img {
    width: 100%;
}

.producto-tarjeta {
    display: inline-block;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 1rem;
    width: 15.7rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto-img {
    width: 100%;
    border-radius: 1rem;
}

.idea-tarjeta {
    display: block;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}   

.idea-img {
    display: inline-block;
    height: auto;
    width: 25%;
    border-radius: 1rem;
    vertical-align: top;
}

.idea_texto {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-left: 2rem;
    text-align: left;;
}

.texto-contenedor {
    display: inline-block;
    min-height: 70%;
    vertical-align: top;
    color: #555;
    line-height: 1.6;
}

.autor-contenedor {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    min-height: 0%;
    margin-top: 1rem;
}
.autor-texto {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: bottom;
    color: #34495E;
}
.autor-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
    object-fit: cover;
    object-position: center;
}